@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  background-image: url('./images/childs-raccoon-tee.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75px;
  position: relative;
}
.overlay {                /* Overlays a darker shade on top of the cover image */
  position: absolute;
  z-index: 1;             /* on top (in front) of everything */
  top: 0;                 /* top, left, right, bottom= 0, is to stretch the image overlay on top of the header */
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(10, 10, 10, 0.2);    /* Color of the shadow */
}
nav {
  position: absolute;
  z-index: 2;             /*  */
  top: 0;                 /*  */
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;   /* moves the h2 element to the left and ul element to the right */
  padding: 25px 60px 0 60px;        /* padding top, right, bottom & left */
}
nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}
li a {
  padding: 5px;
  background-color: #fff;
  text-decoration: none;
}
.cart IoMdCart {
  color: red;
  vertical-align: 'bottom';
  font-size: '30px';
  padding-right: '5px'
}
.cart IoIosCart {
  vertical-align: 'bottom';
  font-size: '20px';
  padding-right: '5px'
}
.cart a {
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}
.prod1Image,
.prod2Image,
.prod3Image,
.prod4Image {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.addToCart {
  position: absolute;
  width: 100%;
  background-color: darkgray;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}
.prod1Image:hover .prod1,
.prod2Image:hover .prod2,
.prod3Image:hover .prod3,
.prod4Image:hover .prod4 {
  bottom: 47px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}